.navbar-component {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #3bb53b;
  .logo-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
